html, body {
    margin: 0; 
    min-height: 100vh; 
    background-color: gainsboro;
    align-items: center;
}
i{
    margin-left: 10px;
}
.tienda{
    font-family: "Comic Sans MS", "Comic Sans";
    
}
a{
    text-decoration: none;
    
}
a:link{ 
    color:  black; 
    text-decoration: none; 
}
a:visited{ 
    color: black; 
    text-decoration: none; 
}
.cubo{
    width: 90px;
}

.fa-trash:hover{
    color:red;
}
.fa-pen:hover{
    color: darkorchid;
}
.todo{
    display: grid;
    align-items: center;
    justify-content: center;
}

.contenedor{
    margin-top: 75px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding:2em;
    background-color: burlywood;
    transition: all .1s linear; 
}
.contenedor:first-child {
    display: flex;
    text-align: center;
    gap: 30px;
}
header{ 
    background-color: burlywood;    
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-right: 10px;
    padding-left: 10px;
    top: 0;
    z-index: 2;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.cabecerat{
    background-color: cadetblue;
}
table,td{

    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
a{
    width: 100%;
}
tr{
    background-color:burlywood
}
tbody tr:nth-child(even){
    background-color: white;
}
tbody tr:nth-child(odd){
    background-color:lightgray;
}
i{
    margin-right: 20px;
}
td{
    padding: 3px;
}
nav{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    margin-top: 70px;
    background-color: burlywood;    
    display: flex;
    justify-content: space-between;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    position: fixed;
}
.blanco{
    background-color: rgb(224, 224, 224);
}
footer p{
    margin-left: 20px;
    font-family: "Comic Sans MS", "Comic Sans";
}
@media screen and (min-width: 200px) and (max-width: 600px){
    .leyenda{
        padding-top: 10px;
        margin-left: 40px;
        margin-right:5%;
        display: flex;
        flex-wrap: wrap;
        gap: 8%;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-color: black;
        transition: all .1s linear; 
    }
    .card{ /*Configuracion de espacio para cada card y su transicion para cuando cambie de tamaño mas adelante*/
        width: 30%;
        display:flex;
        flex-wrap: wrap;
        gap:0px;
        margin: 0px;
        transition: all .1s linear; 
    }
    .contenedor{
        border: 5px;
        border-radius: 15px;
        margin-top: 75px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
        background-color: burlywood;
        transition: all .1s linear; 
        width: 70%;
    }
}
@media screen and (min-width: 600px) and (max-width: 769px){
    .leyenda{
        padding-top: 10px;
        margin-left: 40px;
        margin-right:5%;
        display: flex;
        flex-wrap: wrap;
        gap: 8%;
        padding-left: 4%;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-color: black;
        transition: all .1s linear; 

    }
    .card{ /*Configuracion de espacio para cada card y su transicion para cuando cambie de tamaño mas adelante*/
        width: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px;
        grid-auto-rows: minmax(40px, auto);
        padding-right: 60%;
        padding-left: 5%;
        transition: all .1s linear; 
    }
    .contenedor{
        border: 5px;
        border-radius: 15px;
        gap: 20px;
        margin-top: 75px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
        padding:2em;
        background-color: burlywood;
        transition: all .1s linear; 
        width: 80%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1090px){
    .leyenda{
        padding-top: 10px;
        margin-left: 40px;
        margin-right:5%;
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        padding-left: 4%;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }
    .card{ /*Configuracion de espacio para cada card y su transicion para cuando cambie de tamaño mas adelante*/
        width: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px;
        grid-auto-rows: minmax(40px, auto);
        padding-right: 60%;
        padding-left: 5%;
    }
    .contenedor{
        border: 5px;
        border-radius: 15px;
        gap: 20px;
        margin-top: 75px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
        padding:2em;
        background-color: burlywood;
        transition: all .1s linear; 
        width: 60%;
    }
}
@media screen and (min-width: 1090px) and (max-width: 1279px){

    .leyenda{
        padding-top: 10px;
        margin-left: 40px;
        margin-right:5%;
        display: flex;
        flex-wrap: wrap;
        gap: 13%;
        padding-left: 4%;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }
    .card{ /*Configuracion de espacio para cada card y su transicion para cuando cambie de tamaño mas adelante*/
        width: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
        grid-auto-rows: minmax(40px, auto);
        padding-right: 60%;
        padding-left: 5%;
    }

}
@media screen and (min-width: 1280px){

}
@media screen and (max-width: 847px){

}